body{
    height: 100%;
}


.header-div {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100px;
    align-items: center;
    
}

.product {
    float: left;
    margin-left:5%;
    margin-right:5%;
    margin-top:10%;
    margin-bottom: 10%;
    width:180px;
    height:160px;
    background-color:white;
    border:solid black;
}
#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 80px;
    background-color: white;
}

#footer_text {
    text-align: center;
}

#add-btn {
    margin-left: auto;
    margin-right:10px;
}

