<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="Furniture">
      <div class="row">
        <label for="height">Height (CM) </label>
        <input type="number" name="height" class="form_inputs" id="height" required> <br>
      </div>
      <div class="row">
        <label for="width">Width (CM) </label>
        <input type="number" name="width" class="form_inputs" id="width" required> <br>
      </div>
      <div class="row">
        <label for="length">Length (CM) </label>
        <input type="number" name="length" class="form_inputs" id="length" required> <br>
      </div>
      <p>Please, provide dimensions in HxWxL format.</p>
    </div>
</body>
</html>