<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="Furniture">
        <label>Height (CM) </label>
        <input type="number" id="Height" required> <br>

        <label>Width (CM) </label>
        <input type="number" id="Width" required> <br>

        <label>Length (CM) </label>
        <input type="number" id="Length" required> <br>

        <p>Please, provide dimensions in HxWxL format.</p>
    </div>
</body>
</html>